@font-face {
  font-family: sansOri;
  src: url(../oriflameFonts/sans-regular.woff2);
  src: url(../oriflameFonts/OriflameSans20-Regular.eot);
  src: url(../oriflameFonts/OriflameSans20-Regular.ttf);
  src: url(../oriflameFonts/OriflameSans20-Regular.woff);
  src: url(../oriflameFonts/OriflameSans20-Regular.woff2); }

@font-face {
  font-family: sansCondensedBold;
  src: url(../oriflameFonts/sans-condensed-bold.woff2);
  src: url(../oriflameFonts/OriflameSansCond20-Bold.eot);
  src: url(../oriflameFonts/OriflameSansCond20-Bold.ttf);
  src: url(../oriflameFonts/OriflameSansCond20-Bold.woff);
  src: url(../oriflameFonts/OriflameSansCond20-Bold.woff2); }

@font-face {
  font-family: sansOriBold;
  src: url(../oriflameFonts/sans-bold.woff2);
  src: url(../oriflameFonts/OriflameSans20-Bold.eot);
  src: url(../oriflameFonts/OriflameSans20-Bold.ttf);
  src: url(../oriflameFonts/OriflameSans20-Bold.woff);
  src: url(../oriflameFonts/OriflameSans20-Bold.woff2); }

@font-face {
  font-family: sansOriIcons;
  src: url(../oriflameFonts/OriflameWebIcons.woff2);
  src: url(../oriflameFonts/OriflameWebIcons.eot);
  src: url(../oriflameFonts/OriflameWebIcons.ttf);
  src: url(../oriflameFonts/OriflameWebIcons.woff);
  src: url(../oriflameFonts/OriflameWebIcons.woff2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sansOri, Arial, sans-serif; }

main {
  overflow-x: hidden; }

:root {
  --bgWhite: white;
  --bgDark: #333;
  --bf5f5f5: #f5f5f5;
  --bFa: #fafafa;
  --bFd: #fdfdfd;
  --bsid1: rgb(165, 229, 226);
  --bsid2: rgb(219, 152, 182);
  --bsid3: rgb(180, 173, 166);
  --bsid4: rgb(61, 115, 169);
  --bsid5: rgb(234, 195, 115);
  --bsid6: rgb(240, 135, 119);
  --bsid7: rgb(101, 94, 192);
  --bsid8: rgb(49, 116, 127);
  --bsid9: rgb(144, 208, 231);
  --bsidh1: rgba(165, 229, 226, 0.2);
  --bsidh2: rgba(219, 152, 182, 0.2);
  --bsidh3: rgba(180, 173, 166, 0.2);
  --bsidh4: rgba(61, 115, 169, 0.2);
  --bsidh5: rgba(234, 195, 115, 0.2);
  --bsidh6: rgba(240, 135, 119, 0.2);
  --bsidh7: rgba(101, 94, 192, 0.2);
  --bsidh8: rgba(49, 116, 127, 0.2);
  --bsidh9: rgba(144, 208, 231, 0.2);
  --tOriGreen: #777;
  --tSuccessGreen: #68bb93;
  --tDark: #333;
  --tWhite: white;
  --t5: #555;
  --t6: #666;
  --t9: #999;
  --t80: #808080;
  --s15: 15px;
  --X: 0deg;
  --Y: 0deg;
  --menuHeight: 80px; }

.activator {
  display: block !important; }

.deactivator {
  display: none !important; }

.flexActivator {
  display: flex !important; }

.flexDeactivator {
  display: none !important; }

.successColor {
  color: var(--tSuccessGreen); }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@keyframes fadeIn {
  0% {
    display: block; }
  1% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

@keyframes buttonFill {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }

@keyframes pgaeAnimation {
  0% {
    left: -100%;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
